
@{
    ViewBag.Title = "EquipmentTag";
}


@using System.Data
@model DataTable


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        Equipment Numbering System
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Content/owl.carousel.css" rel="stylesheet" />
    <link href="../../Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/meanmenu.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/waves.min.css" rel="stylesheet" />
    <link href="~/Content/button.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsee.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="../../Content/jquery.dataTables.min.css" />
    <link href="../../Content/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Views/Home/HomeStyle.css">
    <script src="../../Scripts/jquery-3.5.1.js"></script>
    <script src="../../Scripts/jquery.dataTables.min.js" defer></script>
    <script src="../../Scripts/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                // Setup - add a text input to each footer cell
                $('#example thead tr').clone(true).appendTo('#example thead');
                $('#example thead tr:eq(1) th').each(function (i) {
                    var title = $(this).text();
                    $(this).html('<input type="text" /*placeholder="Search ' + title + '"*/ />');
                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                });
                var table = $('#example').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    scrollY: 500,
                    scrollX: true,
                    paging: false,
                    autowidth: true,
                    pageLength: false,
                    bInfo: false
                });
            });



        function GetEq_Types() {

            //var targetinfo = [];
            //var status = 0;
            debugger;
            var Selected_Area = $('#ddlArea').val().trim();
            //var seqNo = $('#txtSeqNo').val().trim();
            //var instName = $('#txtInstName').val().trim();
            //var pnIdNo = $('#txtPnIdNo').val().trim();
            //var requestor = $('#txtRequestor').val().trim();
            //var project = $('#txtProject').val().trim();

            if (Selected_Area != null ) {
                    $.ajax({
                    url: '@Url.Action("GetEq_Types", "EquipmentTag")',
                    dataType: "json",
                    type: "POST",
                    cache: false,
                        data: JSON.stringify({ 'SelectedArea': Selected_Area}),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var markup = "<option value='0'>--Select--</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#ddlEqType").html(markup).show();

                    },
                    error: function (xhr) {
                        $("#failure-alertmap").text('Error');
                        $("#failure-alertmap").show();
                        $("#failure-alertmap").delay(3000).addClass("in").fadeOut(1000);
                    }
                });

            } else {
                $("#failure-alertmap").text('Please enter value for all fields');
                $("#failure-alertmap").show();
                $("#failure-alertmap").delay(3000).addClass("in").fadeOut(1000);
                return false;
            }

            //alert('Saved Successfully!!');
        }


         function GetMaxSeq_no() {

            //var targetinfo = [];
            //var status = 0;
             debugger;
            var Selected_Area = $('#ddlArea').val().trim();
            var Selected_EqType = $('#ddlEqType').val().trim();
            //var instName = $('#txtInstName').val().trim();
            //var pnIdNo = $('#txtPnIdNo').val().trim();
            //var requestor = $('#txtRequestor').val().trim();
            //var project = $('#txtProject').val().trim();
             alert(Selected_EqType);
             if (Selected_Area != null && Selected_EqType != null ) {
                    $.ajax({
                    url: '@Url.Action("GetMaxSeq_NO", "EquipmentTag")',
                    dataType: "json",
                    type: "POST",
                    cache: false,
                        data: JSON.stringify({ 'SelectedArea': Selected_Area, 'SelectedEqType': Selected_EqType}),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var markup = data;
                        
                        $("#txtSequenceNo").html(markup).show();

                    },
                    error: function (xhr) {
                        $("#failure-alertmap").text('Error');
                        $("#failure-alertmap").show();
                        $("#failure-alertmap").delay(3000).addClass("in").fadeOut(1000);
                    }
                });

            } else {
                $("#failure-alertmap").text('Please enter value for all fields');
                $("#failure-alertmap").show();
                $("#failure-alertmap").delay(3000).addClass("in").fadeOut(1000);
                return false;
            }

            //alert('Saved Successfully!!');
        }
    </script>
    <style>
        table.display th {
            font-size: 16px;
        }

        table.display td {
            font-size: 16px;
        }

        .tableFixHead {
            height: 600px;
            div #example_filter input

        {
            background-color: snow;
        }

        .dataTables_scrollBody {
            height: 600px;
        }
    </style>
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="widget-tabs-int mg-t-30">
                    <div class="tab-hd">
                        <img class="imgstyle" src="~/Images/pgsvg.svg" alt="" />
                        <h2 style="font-weight:900">Equipment Number Generating System</h2>
                        <div class="sidetab" style="float:right;margin-top:-4%">
                            <button class="btn" onclick="window.location.href='Index'"><i class="fa fa-home"></i> Home</button>
                            @*<button class="btn"><i class="fa fa-bars"></i> Menu</button>
                                <button class="btn"><i class="fa fa-trash"></i> Trash</button>
                                <button class="btn"><i class="fa fa-close"></i> Close</button>
                                <button class="btn"><i class="fa fa-folder"></i> Folder</button>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget-tabs-list tab-pt-mg">
                                <ul class="nav nav-tabs tab-nav-center ul_font">
                                    @*<li class="active"><a data-toggle="tab" href="Index">Back To Home</a></li>*@
                                    @*<li><a data-toggle="tab" href="#menu13">Instruments</a></li>
                                        <li><a data-toggle="tab" href="#menu23">Vendors</a></li>
                                        <li><a data-toggle="tab" href="#home4">Manufacturers</a></li>
                                        <li><a data-toggle="tab" href="#menu14">Instrument Types</a></li>
                                        <li><a data-toggle="tab" href="#menu24">Information Types</a></li>
                                        <li><a data-toggle="tab" href="#menu24">Information Groups</a></li>
                                        <li><a data-toggle="tab" href="#menu24">Loops</a></li>*@
                                </ul>
                                <div class="tab-content tab-custom-st">
                                    <div id="home3" class="tab-pane in active animated zoomInLeft">
                                        <div class="tab-ctn p-t-5">
                                            <div id="dummy">
                                                <p>
                                                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                        Generate Equipment Tag
                                                    </a>
                                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                                        Update FLOC Code
                                                    </button>
                                                </p>
                                                <div class="collapse" id="collapseExample" data-parent="#dummy">

                                                    <div class="card-body" style="background-color: #4088ac">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    @Html.Label("Area:")
                                                                    @*ViewBag.AreaList is holding all the Area values*@
                                                                    @*@Html.ListBox("lstArea", (IEnumerable<SelectListItem>)ViewBag.areas, new { @class = "form-control", @onchange = "DropDownAreaList()" })*@
                                                                    @Html.DropDownList("ddlArea", (IEnumerable<SelectListItem>)ViewData["Area_LstTargests"], new { @class = "form-control", @onchange = "GetEq_Types()" })
                                                                    @*@Html.ValidationMessageFor(model => model.Areas, "", new { @class = "text-danger" })*@
                                                                </div>

                                                                <div class="form-group">
                                                                    @Html.Label("Equipment Name:")
                                                                    @Html.Editor("ddlEQName", new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessage("ddlEQName", "", new { @class = "text-danger" })
                                                                </div>

                                                                <div class="form-group">
                                                                    @Html.Label("Requestor:")
                                                                    @Html.Editor("lblRequestor", new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessage("lblRequestor", "", new { @class = "text-danger" })
                                                                </div>
                                                                <!-- /.form-group -->
                                                            </div>
                                                            <!-- /.col -->
                                                            <div class="col-md-4">

                                                                <div class="form-group">
                                                                    @Html.Label("Equipment Type:")
                                                                    @*ViewBag.Eq_Types is holding all the Equipment values*@
                                                                    @Html.DropDownList("ddlEqType", (IEnumerable<SelectListItem>)ViewData["Eq_TypeDescriptionTarget"], new { @class = "form-control",@onchange= "GetMaxSeq_no()" })
                                                                    @*@Html.ValidationMessageFor(model => model.Eq_Types, "", new { @class = "text-danger" })*@
                                                                </div>
                                                                <!-- /.form-group -->
                                                                <div class="form-group">
                                                                    @Html.Label("P&ID No:")
                                                                    @Html.Editor("lblPIDNo", new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessage("lblPIDNo", "", new { @class = "text-danger" })
                                                                </div>
                                                                <!-- /.form-group -->
                                                                <div class="form-group">
                                                                    @Html.Label("Project Name:")
                                                                    @Html.Editor("lblProjectName", new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessage("lblProjectName", "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <!-- /.col -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    @Html.Label("Sequence No:")
                                                                    @Html.Editor("txtSequenceNo", new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessage("lblSequenceNo", "", new { @class = "text-danger" })
                                                                </div>

                                                                <div class="form-group">
                                                                    @Html.Label("Area2:")
                                                                    @*ViewBag.Area2List is holding all the Area2 values*@
                                                                    @Html.DropDownList("ddlArea2", (IEnumerable<SelectListItem>)ViewData["Area2_LstTargests"], new { @class = "form-control" })
                                                                    @*@Html.ValidationMessageFor(model => model.Areas2, "", new { @class = "text-danger" })*@
                                                                </div>


                                                            </div>

                                                        </div>
                                                        <!-- /.row -->
                                                        <div class="form-group row-cols-2">
                                                            <button type="submit" class="btn btn-info float-right" style="margin-left:30px;">Save</button>
                                                            <button type="reset" class="btn btn-default float-right" style="margin-left:30px;" onclick="window.location.href='../Home/Equipment';">Cancel</button>


                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-offset-2 col-md-10" style="color:green">
                                                                @ViewBag.Message
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="collapse" id="collapseExample1" data-parent="#dummy">

                                                    <div class="card-body" style="background-color: #4088ac">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    @Html.Label("FLOC Code:")
                                                                    @Html.Editor("txtFLOCCode", new { htmlAttributes = new { @class = "form-control" } })
                                                                   
                                                                    @*@Html.ValidationMessageFor(model => model.Areas, "", new { @class = "text-danger" })*@
                                                                </div>

                                                                <!--<div class="form-group">
                                                                    @Html.Label("Equipment Name:")
                                                                    @Html.Editor("txtTagName", new { htmlAttributes = new { @class = "form-control" } })-->
                                                                    @*@Html.ValidationMessageFor(model => model.Eq_name, "", new { @class = "text-danger" })*@
                                                                <!--</div>-->

                                                                <!--<div class="form-group">
                                                                    @Html.Label("Requestor:")
                                                                    @Html.Editor("txtRequestor", new { htmlAttributes = new { @class = "form-control" } })-->
                                                                    @*@Html.ValidationMessageFor(model => model.Requestor, "", new { @class = "text-danger" })*@
                                                                <!--</div>-->
                                                                <!-- /.form-group -->
                                                            </div>
                                                            <!-- /.col -->
                                                            <div class="col-md-4">

                                                                <div class="form-group">
                                                                    @Html.Label("TagNumber:")
                                                                    @Html.Editor("txtTagNumber", new { htmlAttributes = new { @class = "form-control" } })
                                                                    @*@Html.ValidationMessageFor(model => model.Eq_Types, "", new { @class = "text-danger" })*@
                                                                </div>
                                                                <!-- /.form-group -->
                                                                <!--<div class="form-group">
                                                                    @Html.Label("P&ID No:")
                                                                    @Html.Editor("txtPIDNo", new { htmlAttributes = new { @class = "form-control" } })-->
                                                                    @*@Html.ValidationMessageFor(model => model.PIDNo, "", new { @class = "text-danger" })*@
                                                                <!--</div>-->
                                                                <!-- /.form-group -->
                                                                <!--<div class="form-group">
                                                                    @Html.Label("Project Name:")
                                                                    @Html.Editor("txtProjectName", new { htmlAttributes = new { @class = "form-control" } })-->
                                                                    @*@Html.ValidationMessageFor(model => model.Project_Name, "", new { @class = "text-danger" })*@
                                                                <!--</div>-->
                                                            </div>

                                                            <!-- /.col -->
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    @Html.Label("Sequence No:")
                                                                    @Html.Editor("txtSequenceNo", new { htmlAttributes = new { @class = "form-control" } })
                                                                    @*@Html.ValidationMessageFor(model => model.Seq_No, "", new { @class = "text-danger" })*@
                                                                </div>

                                                                <!--<div class="form-group">
                                                                    @Html.Label("Area2:")-->
                                                                    @*ViewBag.Area2List is holding all the Area2 values*@
                                                                    <!--@Html.Editor("txtArea2", new { htmlAttributes = new { @class = "form-control" } })-->
                                                                    @*@Html.ValidationMessageFor(model => model.Areas2, "", new { @class = "text-danger" })*@
                                                                <!--</div>-->

                                                                <!--<div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.Label("FLOC No:")
                                                                        @Html.Editor("txtArea2", new { htmlAttributes = new { @class = "form-control" } })-->
                                                                        @*@Html.ValidationMessageFor(model => model.FLOC, "", new { @class = "text-danger" })*@
                                                                    <!--</div>



                                                                </div>-->

                                                            </div>
                                                            <!-- /.row -->
                                                            <div class="form-group row-cols-2">
                                                                <button type="submit" class="btn btn-info float-right" style="margin-left:30px;">Save</button>
                                                                <button type="reset" class="btn btn-default float-right" style="margin-left:30px;" onclick="window.location.href='../Home/Equipment';">Cancel</button>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-offset-2 col-md-10" style="color:green">
                                                                    @ViewBag.Message
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>

                                                </div>

                                            </div>
                                            <div>
                                                <table id="example" class="display tableFixHead" style="width:100%">

                                                    <thead>
                                                        <tr>
                                                            @foreach (DataColumn col in Model.Columns)
                                                            {
                                                                <th>
                                                                    @col.ColumnName
                                                                </th>
                                                            }
                                                        </tr>

                                                    </thead>
                                                    <tbody>
                                                        @foreach (DataRow row in Model.Rows)
                                                        {
                                                            <tr>
                                                                @foreach (DataColumn col in Model.Columns)
                                                                {
                                                                    <td>
                                                                        @row[col.ColumnName]
                                                                    </td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div id="menu13" class="tab-pane animated zoomInLeft">
                                            <div class="tab-ctn">
                                                <p>this is menu2 content</p>
                                                <p class="tab-mg-b-0">this is menu2 content</p>
                                            </div>
                                        </div>
                                        <div id="menu23" class="tab-pane animated zoomInLeft">
                                            <div class="tab-ctn">
                                                <p>this is menu3 content</p>
                                                <p class="tab-mg-b-0">this is maincontent in menu3.</p>
                                            </div>
                                        </div>
                                        <div id="home4" class="tab-pane in active animated zoomInLeft">
                                            <div class="tab-ctn">
                                                <p>this is content in menu4</p>
                                                <p class="tab-mg-b-0">this is maincontent in menu4.</p>
                                            </div>
                                        </div>
                                        <div id="menu14" class="tab-pane animated zoomInLeft">
                                            <div class="tab-ctn">
                                                <p>this is menu5 content</p>
                                                <p class="tab-mg-b-0">this is maincontent in menu5</p>
                                            </div>
                                        </div>
                                        <div id="menu24" class="tab-pane animated zoomInLeft">
                                            <div class="tab-ctn">
                                                <p>this is menu6 content</p>
                                                <p class="tab-mg-b-0">this is maincontent in menu6.</p>
                                            </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
</html>


