
@using System.Data
@model DataSet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Instrument Database</title>
    <link rel="icon" type="image/x-icon" href="https://prodnacdn.azureedge.net/static/version1617674801/frontend/Pg/grisc/en_US/Magento_Theme/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Content/owl.carousel.css" rel="stylesheet" />
    <link href="../../Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/meanmenu.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/waves.min.css" rel="stylesheet" />
    <link href="~/Content/button.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsee.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="../../Content/jquery.dataTables.min.css" />




    @*<link href="../../Content/fixedHeader.dataTables.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="~/Views/Home/HomeStyle.css">*@

    <script src="../../Scripts/jquery-3.5.1.js"></script>
    <script src="../../Scripts/jquery.dataTables.min.js" defer></script>
    @*<script src="../../Scripts/dataTables.fixedHeader.min.js"></script>*@

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#example1 thead tr').clone(true).appendTo('#example1 thead');
            $('#example1 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text"  />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example1').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true,
                columnDefs: [
                    {
                        className: "my_class",
                        "targets": [0],
                        "render": function (data, type, row, meta) { // render event defines the markup of the cell text
                            var a = '<a href="#" >' + data + '</a>'; // row object contains the row data
                            return a;
                        }
                    }
                ]
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#example2 thead tr').clone(true).appendTo('#example2 thead');
            $('#example2 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text"  />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example2').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#exampleTemp thead tr').clone(true).appendTo('#exampleTemp thead');
            $('#exampleTemp thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text"  />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#exampleTemp').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#example3 thead tr').clone(true).appendTo('#example3 thead');
            $('#example3 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example3').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#example4 thead tr').clone(true).appendTo('#example4 thead');
            $('#example4 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example4').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#example5 thead tr').clone(true).appendTo('#example5 thead');
            $('#example5 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example5').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#example6 thead tr').clone(true).appendTo('#example6 thead');
            $('#example6 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example6').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            //Setup - add a text input to each footer cell
            $('#example7 thead tr').clone(true).appendTo('#example7 thead');
            $('#example7 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" />');
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example7').DataTable({
                orderCellsTop: true,
                order: [],
                paging: false,
                autowidth: false,
                pageLength: false,
                bInfo: false,
                responsive: true
            });
        });
        $(document).ready(function () {
            $("#tabs").tabs();
        });


    </script>
    <style>
        .panel-group .panel {
            border-color: antiquewhite;
        }

        .panel-default > .panel-heading {
            color: white;
            background-color: steelblue;
        }

        .panel-title > a {
            display: block;
            outline: none;
            text-decoration: none;
            color: antiquewhite;
        }

        .content {
            display: none
        }

        .loadonce {
            display: block;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

            table thead tr th {
                text-transform: capitalize;
            }

            table thead tr:last-child {
                background: #eaeaea;
                border-bottom: 4px double #cbcbcb;
            }

        #example1 td:nth-child(4), #example1 td:nth-child(10) {
            width: 100%;
            word-break: break-all;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr.hidden-row {
            display: none;
        }

        .tableFixHead {
            overflow: auto;
            height: 600px;
            display: block;
            width: auto;
        }

            .tableFixHead thead tr th input {
                width: 100%;
            }

            .tableFixHead thead, .tableFixHead tbody {
                width: 100%;
            }

                .tableFixHead thead tr:first-child th {
                    position: sticky;
                    top: 0;
                    background: lightblue;
                }

        table.dataTable thead th, table.dataTable thead td {
            background: lightblue;
        }





        /* .dataTables_scrollHeadInner {
                    width: 100%;
                }*/

        div#example_filter input,
        div#example1_filter input,
        div#example2_filter input,
        div#example3_filter input,
        div#example4_filter input,
        div#example5_filter input,
        div#example6_filter input,
        div#example7_filter input,
        div#exampleTemp_filter input {
            background-color: snow;
        }

        table.display th {
            font-size: 16px;
        }

        table.display td {
            font-size: 16px;
        }

        /* dataTables_scrollBody {
                    width: auto;
                }

                datatables_scrollHeadInner {
                    padding-right: 0px;
                }
        */
        .tab-ctn {
            display: table;
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="widget-tabs-int mg-t-30">

                <div class="tab-hd">
                    <img class="imgstyle" src="~/Images/pgsvg.svg" alt="" />
                    <h2 style="font-weight:900">Sacramento Instrument Spec DB</h2>
                    <div class="sidetab" style="float:right;margin-top:-4%">
                        <button class="btn" onclick="window.location.href='Index'"><i class="fa fa-home"></i> Home</button>
                        @*<button class="btn"><i class="fa fa-bars"></i> Menu</button>
                            <button class="btn"><i class="fa fa-trash"></i> Trash</button>
                            <button class="btn"><i class="fa fa-close"></i> Close</button>
                            <button class="btn"><i class="fa fa-folder"></i> Folder</button>*@

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget-tabs-list tab-pt-mg">
                            <ul class="nav nav-tabs tab-nav-center ul_font nav-justified text-justify" role="tablist">
                                <li><a data-toggle="tab" href="#home"><i class="fa fa-database"></i>Summary</a></li>
                                <li><a data-toggle="tab" href="#InstTab" onclick="insfun()"><i class="fa fa-industry" aria-hidden="true"></i> Instruments</a></li>

                                <li><a data-toggle="tab" href="#VendorTab"><i class="fa fa-users" aria-hidden="true"></i> Vendors</a></li>
                                <li><a data-toggle="tab" href="#ManfTab"><i class="fa fa-cog" aria-hidden="true"></i> Manufacturers</a></li>
                                <li><a data-toggle="tab" href="#TemplateTab"><i class="fa fa-files-o" aria-hidden="true"></i> Templates</a></li>
                                <li><a data-toggle="tab" href="#InstypeTab"><i class="fa fa-cogs" aria-hidden="true"></i> Instrument&nbspTypes</a></li>
                                <li><a data-toggle="tab" href="#InfTab"><i class="fa fa-table" aria-hidden="true"></i> Information&nbspTypes</a></li>
                                <li><a data-toggle="tab" href="#InfgrpTab"><i class="fa fa-object-group" aria-hidden="true"></i> Information&nbspGroups</a></li>
                                @*<li><a data-toggle="tab" href="#LoopTab"><i class="fa fa-files-o" aria-hidden="true"></i> Loops</a></li>*@
                            </ul>
                            <div class="tab-content tab-custom-st">
                                <div id="home" class="tab-pane in active animated zoomInLeft">
                                    <div class="tab-ctn p-t-5">

                                        @*<div class="sidetab" style="float:right;">
                                                <button class="btn"  style="background-color:#0037B1;color:snow"><i class="fa fa-arrows-v"></i> Import/Export</button>
                                                <br />
                                            </div>*@
                                        @*<p style="font-size:13px">Instrument Information</p>
                                            <p class="tab-mg-b-0" style="font-size:13px">All Instruments Information</p>*@
                                        <div>



                                            <table id="example" class="display tableFixHead" cellpadding="0" cellspacing="0" border="1">

                                                <thead>
                                                    <tr>
                                                        @foreach (DataColumn col in Model.Tables[0].Columns)
                                                        {
                                                            <th>@col.ColumnName</th>
                                                        }

                                                    </tr>
                                                </thead>
                                                @foreach (DataRow row in Model.Tables[0].Rows)
                                                {
                                                    <tr>
                                                        @foreach (DataColumn col in Model.Tables[0].Columns)
                                                        {
                                                            <td>@row[col.ColumnName]</td>
                                                        }
                                                    </tr>
                                                }
                                            </table>


                                        </div>
                                    </div>-->
                                </div>
                                <div id="InstTab" class="tab-pane animated zoomInLeft">
                                    <div class="tab-ctn p-t-5">
                                        @*<p>this is menu2 content</p>
                                            <p class="tab-mg-b-0">this is menu2 content</p>*@
                                        @*<table id="example1" class="display tableFixHead" width="100%"></table>*@
                                        <div id="loadInst" class="content loadonce">

                                            <table id="example1" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">

                                                <thead>
                                                    <tr>
                                                        @foreach (DataColumn col in Model.Tables[1].Columns)
                                                        {
                                                            <th>@col.ColumnName</th>
                                                        }

                                                    </tr>
                                                </thead>
                                                @foreach (DataRow row in Model.Tables[1].Rows)
                                                {
                                                    <tr>
                                                        @foreach (DataColumn col in Model.Tables[1].Columns)
                                                        {
                                                            <td>@row[col.ColumnName]</td>
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                        <div id="formInst" class="content">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingOne">
                                                                    <h3 class="panel-title mr-3">
                                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                            <i class="icon glyphicon glyphicon-minus pull-right"></i>
                                                                            General Information
                                                                        </a>
                                                                    </h3>
                                                                </div>
                                                                <div id="collapseOne" class="panel-body" role="tabpanel" aria-labelledby="headingOne">




                                                                    <div class="container-fluid ">
                                                                        <!-- SELECT2 EXAMPLE -->
                                                                        <div class="card card-default">

                                                                            <div class="card-body">
                                                                                <div class="row" style="margin-top:2%">
                                                                                    <div class=" col-md-6">
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Tag Number</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="tagnum" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->



                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">P&ID Number</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="pidnum" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->

                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Short Description</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="shortdesc" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->

                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Project Name</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="projname" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                    </div>
                                                                                    <!-- /.col -->
                                                                                    <div class="col-md-6">

                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Instrument Type</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="insttype" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <!-- /.form-group -->
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">E&ID Number</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="eidnum" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Project Number</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="projnum" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <!-- /.form-group -->
                                                                                    </div>
                                                                                    <!-- /.col -->





                                                                                </div>
                                                                                <!-- /.row -->
                                                                                @*<div class="form-group row-cols-2">
                                                                                        <button type="submit" class="btn btn-default float-right" style="margin-left:30px;" onclick="window.location.href='../Home/Instrument';">Cancel</button>
                                                                                        <button type="submit" class="btn btn-info float-right" onclick="window.location.href='../Home/Instrument';">Save</button>
                                                                                    </div>*@

                                                                            </div>

                                                                        </div>
                                                                    </div><!-- /.container-fluid -->

                                                                </div>
                                                            </div>

                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                            <i class="icon glyphicon glyphicon-minus pull-right"></i>
                                                                            Manufacturer Information
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTwo" @*class="panel-collapse in collapse"*@ class="panel-body" role="tabpanel" aria-labelledby="headingTwo">
                                                                    @*<section class="content">*@
                                                                    <div class="container-fluid ">
                                                                        <!-- SELECT2 EXAMPLE -->
                                                                        <div class="card card-default">

                                                                            <div class="card-body">
                                                                                <div class="row" style="margin-top:2%">
                                                                                    <div class=" col-md-6">
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Vendor</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="vendorid" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->



                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Manufacturer Model Number</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="mfrmodelnum" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <!-- /.form-group -->
                                                                                    </div>
                                                                                    <!-- /.col -->
                                                                                    <div class="col-md-6">

                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Manufacturer</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="manufacturer" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <!-- /.form-group -->
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Manufacturer Serial Number</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="mfrserialnum" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->

                                                                                    </div>
                                                                                    <!-- /.col -->





                                                                                </div>
                                                                                <!-- /.row -->
                                                                                @*<div class="form-group row-cols-2">
                                                                                        <button type="submit" class="btn btn-default float-right" style="margin-left:30px;" onclick="window.location.href='../Home/Instrument';">Cancel</button>
                                                                                        <button type="submit" class="btn btn-info float-right" onclick="window.location.href='../Home/Instrument';">Save</button>
                                                                                    </div>*@

                                                                            </div>

                                                                        </div>
                                                                    </div><!-- /.container-fluid -->
                                                                    @*</section>*@
                                                                </div>
                                                            </div>

                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingThree">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                            <i class="icon glyphicon glyphicon-minus pull-right"></i>
                                                                            Process Parameters
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseThree" @*class="panel-collapse in collapse"*@ class="panel-body " role="tabpanel" aria-labelledby="headingThree">
                                                                    @*<section class="content">*@
                                                                    <div class="container-fluid ">
                                                                        <!-- SELECT2 EXAMPLE -->
                                                                        <div class="card card-default">

                                                                            <div class="card-body">
                                                                                <div class="row" style="margin-top:2%">
                                                                                    <div class=" col-md-6">
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">State</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="stateid" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->



                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Density</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="densityid" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Conductivity</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="conductid" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->

                                                                                    </div>
                                                                                    <!-- /.col -->
                                                                                    <div class="col-md-6">

                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Molecule Weight</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="molweight" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <!-- /.form-group -->
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Viscosity</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="viscosityid" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->
                                                                                        <div class="form-group row">
                                                                                            <label class="col-sm-2 col-form-label">Ambient Temperature</label>
                                                                                            <div class="col-sm-8 col-sm-offset-1">
                                                                                                <input type="text" class="form-control" id="ambtemmp" placeholder="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- /.form-group -->


                                                                                    </div>
                                                                                    <!-- /.col -->





                                                                                </div>
                                                                                <!-- /.row -->
                                                                                @*<div class="form-group row-cols-2">
                                                                                        <button type="submit" class="btn btn-default float-right" style="margin-left:30px;" onclick="window.location.href='../Home/Instrument';">Cancel</button>
                                                                                        <button type="submit" class="btn btn-info float-right" onclick="window.location.href='../Home/Instrument';">Save</button>
                                                                                    </div>*@

                                                                            </div>

                                                                        </div>
                                                                    </div><!-- /.container-fluid -->
                                                                    @*</section>*@
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="loadExtTable" class="content">
                                            <p>add your content</p>  @*comment this line*@

                                            <table id="InstDescTable" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">
                                                    @*@foreach (var item in ViewData.Model)
                                                    {
                                                        @item["Name"];
                                                    }*@
                                            </table>
                                        </div>



                                    </div>
                                </div>
                                <div id="VendorTab" class="tab-pane animated zoomInLeft">
                                    <div class="tab-ctn p-t-5">
                                        @*<p>this is menu2 content</p>
                                            <p class="tab-mg-b-0">this is menu2 content</p>*@
                                        @*<table id="example2" class="display tableFixHead" width="100%"></table>*@

                                        <table id="example2" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">

                                            <thead>
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[2].Columns)
                                                    {
                                                        <th>@col.ColumnName</th>
                                                    }

                                                </tr>
                                            </thead>
                                            @foreach (DataRow row in Model.Tables[2].Rows)
                                            {
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[2].Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }
                                        </table>



                                    </div>
                                </div>

                                <div id="ManfTab" class="tab-pane">
                                    <div class="tab-ctn">
                                        @*<p>this is content in menu4</p>
                                            <p class="tab-mg-b-0">this is maincontent in menu4.</p>*@
                                        <div class="tablescenter">

                                            <table id="example3" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">

                                                <thead>
                                                    <tr>
                                                        @foreach (DataColumn col in Model.Tables[3].Columns)
                                                        {
                                                            <th>@col.ColumnName</th>
                                                        }

                                                    </tr>
                                                </thead>
                                                @foreach (DataRow row in Model.Tables[3].Rows)
                                                {
                                                    <tr>
                                                        @foreach (DataColumn col in Model.Tables[3].Columns)
                                                        {
                                                            <td>@row[col.ColumnName]</td>
                                                        }
                                                    </tr>
                                                }
                                            </table>


                                        </div>
                                    </div>
                                </div>
                                <div id="TemplateTab" class="tab-pane">
                                    <div class="tab-ctn">
                                        @*<p>this is content in menu4</p>
                                            <p class="tab-mg-b-0">this is maincontent in menu4.</p>

                                                                @*<table id="exampleTemp" class="display tableFixHead" width="100%">*@



                                        <table id="example4" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">







                                            <thead>


                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[4].Columns)
                                                    {
                                                        <th>@col.ColumnName</th>


                                                    }


                                                </tr>
                                            </thead>
                                            @foreach (DataRow row in Model.Tables[4].Rows)
                                            {
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[4].Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }
                                        </table>









                                    </div>
                                </div>
                                <div id="InstypeTab" class="tab-pane animated zoomInLeft">
                                    <div class="tab-ctn">
                                        @*<p>this is menu5 content</p>
                                            <p class="tab-mg-b-0">this is maincontent in menu5</p>*@
                                        @*<table id="example4" class="display" style="width:100%"></table>*@



                                        <table id="example5" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">

                                            <thead>
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[5].Columns)
                                                    {
                                                        <th>@col.ColumnName</th>
                                                    }

                                                </tr>
                                            </thead>
                                            @foreach (DataRow row in Model.Tables[5].Rows)



                                            {
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[5].Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }


                                        </table>



                                    </div>
                                </div>
                                <div id="InfTab" class="tab-pane animated zoomInLeft">
                                    <div class="tab-ctn">
                                        @*<p>this is menu6 content</p>
                                            <p class="tab-mg-b-0">this is maincontent in menu6.</p>*@


                                        <table id="example6" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">

                                            <thead>
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[6].Columns)
                                                    {
                                                        <th>@col.ColumnName</th>
                                                    }

                                                </tr>
                                            </thead>
                                            @foreach (DataRow row in Model.Tables[6].Rows)



                                            {
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[6].Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }


                                        </table>



                                    </div>
                                </div>
                                <div id="InfgrpTab" class="tab-pane">
                                    <div class="tab-ctn">
                                        @*<p>this is menu6 content</p>
                                            <p class="tab-mg-b-0">this is maincontent in menu6.</p>*@


                                        <table id="example7" class="display tableFixHead" width="100%" cellpadding="0" cellspacing="0" border="1">

                                            <thead>
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[7].Columns)
                                                    {
                                                        <th>@col.ColumnName</th>
                                                    }

                                                </tr>
                                            </thead>
                                            @foreach (DataRow row in Model.Tables[7].Rows)



                                            {
                                                <tr>
                                                    @foreach (DataColumn col in Model.Tables[7].Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                            }


                                        </table>































                                    </div>
                                </div>
                                <div id="LoopTab" class="tab-pane animated zoomInLeft">
                                    <div class="tab-ctn">
                                        @*<p>this is menu6 content</p>
                                            <p class="tab-mg-b-0">this is maincontent in menu6.</p>*@


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- page script -->
    <script>





        $(document).ready(function () {
            $('#example1 tbody').on('click', 'td', function (e) {
                var values = [];

                $(this).find("td").each(function () {
                    values.push($(this).text());
                });
                console.log(values);
                e.preventDefault();
                $(".content").hide();
                $("#formInst").show();
            });
        });
        $(document).ready(function () {

            $('#example tbody').on('click', 'td', function (e) {
                var rowdata = [];

                rowdata.push($(this).html().trim());
                rowdata.push($(this).parent().find('td').html().trim());
                rowdata.push($('#example thead tr th').eq($(this).index()).html().trim());

			     var Count_row = rowdata[0].toString();
                var InstrumentType = rowdata[1].toString();
                var Area = rowdata[2].toString();

                $('.nav-tabs a[href="#InstTab"]').tab('show');
                $(".content").hide();

                

                debugger;
                 $.ajax({
                   url: '@Url.Action("InstrumentDetails", "Home")',
                    dataType: "json",
                    type: "POST",
                    cache: false,
                     data: JSON.stringify({ 'Countrow': Count_row, 'Instrument_Type': InstrumentType, 'Area': Area}),
                    contentType: "application/json; charset=utf-8",
                     success: function (json) {
                         alert(json);

                         var json1 = JSON.stringify(json);
                         var tr;

                         $('#InstDescTable').dataTable({ "ajax":"json1.json"})
                         //Append each row to html table  
                         //for (var i = 0; i < json1.length; i++) {
                         //    tr = $('<tr/>');
                         //    tr.append("<td>" + json1[i].Instrument_Type + "</td>");
                         //    tr.append("<td>" + json1[i].TagName + "</td>");
                         //    tr.append("<td>" + json1[i].Loop_No + "</td>");
                         //    tr.append("<td>" + json1[i].Description + "</td>");
                         //    tr.append("<td>" + json1[i].Type + "</td>");
                         //    tr.append("<td>" + json1[i].Area + "</td>");
                         //    tr.append("<td>" + json1[i].Type + "</td>");
                         //    tr.append("<td>" + json1[i].PID_No + "</td>");
                         //    tr.append("<td>" + json1[i].Model_No + "</td>");
                         //    tr.append("<td>" + json1[i].Needs_Updating + "</td>");
                         //    tr.append("<td>" + json1[i].Spec_Info + "</td>");
                         //    $('#InstDescTable').append(tr);
                         //}  
                        
                    },

                });

                $("#loadExtTable").show();
			   // console.log(rowdata);
                //e.preventDefault();
                //$(".content").hide();
                //$("#formInst").show();
               




            });
        });
        //function updateDiv() {
        //    var url = "TabsOverview"
        //    $("#home").load(window.location.href + " #home");
        //}
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".icon")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);


    </script>

</body>
</html>
